<table>
  <thead>
    <tr>
      <th> Nombre </th>
      <th> Email </th>
    </tr>

  </thead>

  <tbody>
    <% _.each(users, function(user){ %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% }) %>
  </tbody>


</table>
